.container h1, .container p, span {
	color: #000;
}

.b {
	position: absolute;
	visibility: hidden;
}

.container h1 {
	font-size: 30pt;
	font-style: italic;
}

.container p span{
    font-size: 18pt;
}

.container {
	display: flex;
	justify-content: space-around;
	height: 400px;
	width: auto;
	max-width: 300px;
	align-items: center;
}



.direita {
	align-self: flex-end;
	margin-bottom: 40px;
	margin-right: 30px;
}

@media (max-width: 550px){
	header {
		min-height: 55px;
	}
	.container {
		flex-direction: column;
		align-items: flex-start;
	}
	
	.direita {
		margin-top: 20px;
		margin-right:-8px;
		
	}
	
	.b {
		position: relative;
		visibility:visible;
	}
}